@media (max-width:768px) { 
    header {      
        display: none;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        border-radius: none;
        border: 1px solid #ffff;
    }
    .section .row .cardHidden{
        display: none;
    }

    .section .row .card label {

        text-align: right;
    }
    .categories{
        display: none;
    }
    .nav-side{
        display: none;
    }
   .owl-carousel .item h2{
 
    top:138px;
   }
   footer .cities {
    font-size: 14px;
    margin-top:15px;  
    
  }  
  footer .row ul li a {
    color: #0473c0;
    font-size: 12px;
}
footer {
    padding-top :20px;}


footer .connect-us ul li a {
	width: 30px;
	height: 30px;
	line-height: 20px;
	font-size: 13px;
}
footer .footerend span {
    font-size: 12px;
}
.lg-table{
    display: none;
}
.sm-table {
    display: block;
}
.contact .row .row1{
    margin-top: 13px;
}
.contact .row textarea{
    width: 91%;
    margin-left:15px;
}
.contact .row  button.btn-submit{
    width: 92%;
}
.arrangePage .row .card {
    width:20rem
}
.arrangePage{
    margin-right: 15px;
}
.arrangePage .row .card .card-body .info-card {
    color: #000;
    font-size: 20px;
}
.arrangePage .row .row1{
    margin-top: 10px;
}
.arrangePage .row .buttonShare{
    margin-right: 20px;
}
.commentSection label {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.col-lg-3 .cardAds h4 {
    margin-right: 50px;

}
.col-lg-3 .card img {
    width: 180px;
    margin-right: 50px;

}
.col-lg-3 .cardAds img {
    width: 180px;
    margin-right: 70px;
    height: 100px;
}


}

