body{
    direction:rtl;
    font-family: 'InstallFont';
    overflow-x: hidden;
     color: #0473c0;


}

@font-face {
    font-family: 'InstallFont';
    src: url('../fonts/InstallFont.ttf');
    src: local('☺'),  url('../fonts/InstallFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


header ul li a{
    font-size:16px;
     color: #337ab7;
     font-weight: bold;
}
header ul li a:hover{
    background:#e1e5e9;
    border-radius: 7px;
    display: block;
}
header .nav-link {
    display: block;
    padding: .5rem 0.5rem;
}
.bg-dark {
    background-color: #337ab7!important;
    border-radius: 6px;
    padding: 5px 10px;


}
.navbar-dark .navbar-brand {
    font-weight: 900;
    color: #fff;
    font-size: 2rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 15px;

}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #ffffff;
}

.navbar a.btn-light{
   background: #ffffff;
   color:#449d44;
   font-size:14px;
   font-weight: bold;
    padding:10px 10px;
    border-radius: 10px;
    border:none;
    outline: none;
}
.navbar a.btn-info:hover{
    background: #ffffff;
    cursor: pointer;
    outline: none;
    
 }
nav .fas{
    
    font-size: 20px;
    color: #5cbb5c;
    outline: none;
}
.adds-btn{
    margin-right:500px;
}
.section{
    width:100%;
    height: auto;
}
.section .row .card{
    color: black;
}
.card-title {
    color: #ffffff;
    margin-bottom: 0rem;
    background: #337ab7;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
}
.card-body{
    background: #f8f7f7;

}
.section .row .card button, select {
    text-transform: none;
    height: 35px;
    width: 100%;
    font-size: 14px;
    padding-right:10px;

}
.section .row .card label{
   font-size: 13px;
   font-weight: bold;
}
.section .row .card  span{
    font-size: 14px;
    color:#555555;
 }
 
 .section .row .card .card-body a.btn {
    color: #ffffff;
    background: #337ab7;
    width: 100%;
    font-size: 14px;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 12px;
}

.section .row .card .card-body .btn:hover{
        cursor: pointer;  
}

.title-h1 {
    background-color: #0473c0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    padding: 13px;
    text-align: right;
}
.nav-tabs .nav-link {
    font-size: 14px;
 
}
.nav-tabs .nav-link:hover{
    background:#e1e5e9;
    cursor: pointer;
    outline: none;
}
.left-nav{
    padding-inline-start: 0px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    background:#aeb5bb;
    outline: none;
    outline: 0px;
    border:0px;

}
.owl-theme .owl-dots .owl-dot span:hover{
    border: none;
    background:#5cbb5c;
    outline: none;
    outline: 0px;
    border:0px;

}
.owl-carousel .item {
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
}

.owl-carousel .item img {
    transition: all 0.4s ease-in-out 0s;
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    width: 100%;
}
.owl-carousel .item h2{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top:120px;
    height: 40px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}
.owl-carousel .item img:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out 0s
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    display: none;
    outline: 0px;
    border:0px;
}
.section .search-id {
    background-color: #f8f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0 0 20px;
    padding: 6px 9px;
}
.section  .search-id .form-control {
    border-radius: none;
    width: 100%;
    font-weight:bold;
     font-size: 12px;
     position: relative;
    }
.section .search-id .btn {
    border: medium none;
    line-height: 22px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top:1px;
    left: 1px;
}
.categories {
    margin: 0 auto 10px;
    overflow: hidden;
    padding: 0;
}
.categories .box{
    border-radius: 4px;
    height: 209px;
    line-height: 16px;
    list-style: outside none none;
    margin-bottom: 10px;
    position: relative;
}
.categories .box .title {
    font-weight: bold;
    background-color: #0473c0;
    border-radius: 6px;
    font-size:15px;
    line-height:34px;
    height: 34px;
    margin-top: 9px;
    padding-right: 49px;
    position: relative;
}
.categories .box .title a{
    border-right: 1px solid #fff;
    color: #ffffff;
    display: block;
    float: right;
    font-size:18px;
    line-height:17px;
    height: 17px;
    margin-top: 9px;
    padding-right: 7px;
}
.categories .box .title em {
    background-color: #6e6e71;
    color: #ffffff;
    float: left;
    font-style: normal;
    padding-left: 5px;
    padding-right: 7px;
}
.categories .box .content {
    border-bottom: 2px solid #2d8ab8;
    padding: 8px 0 9px;
}
.categories .box .content .footer {
    position: relative;
}
.categories .box .content .more {
    border-radius: 15px;
    color: #ffffff;
    font-size:11px;
    line-height:26px;
     left: 8px;
     padding: 0 8px;
     position: absolute;
     text-align: center;
     top: -4px;
    }
.categories .box ul {
    height: 139px;
    margin: 0 5px;
    overflow: hidden;
    padding: 0;
}
.categories .box ul li {
    border-bottom: 1px dotted #cccccc;
    color: #777777;
    font-size:11px;
    line-height:34px;
    list-style: outside none circle;
    font-weight: bold;
    padding: 0 8px;
}
.categories .box ul li:last-child {
    border: medium none;
}
.categories .box ul li em {
    float: left;
    font-style: normal;
}
.stores{
    border: 1px solid #ccc;

}
.stores h2{
    font-size: 15px;
    color: #0473c0;


}
.stores h3,h4{
    font-size: 15px;
    color: #000000;


}
.stores .view-store {
    background-color: #0185d7;
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: table;
    float: left;
    font-weight: bold;
    line-height: 22px;
    margin: 0 auto 20px;
    padding: 4px 15px;
    text-align: center;
    margin-left: 13px;
}

.contact-data  li {
    border-bottom: 1px solid #ededed;
    color: #222222;
    font-weight: bold;
    overflow: hidden;
}


.contact-data  li:last-child {
    border-bottom: 0 none;
}
.contact-data  li span {
    font-weight: 400;
    float: left;
}
.contact-data b ,a{
    font-size: 15px;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 12px;

}
.section .row .card span {
    font-size: 18px;
    color: #555555;
    border: none;
    padding:10px 15px;
}
.section .members .card label {
    font-size: 13px;
    font-weight: normal;
}
.section .members .card .btn-primary {
    color: #fff;
    background-color:#0473c0;
    border:0px;
    padding: 6px 15px;
    outline: none;
}
.section .members .card .rocoverInfo a{
    font-size: 15px;
    font-weight: 600;

}
.section .members .card .rocoverInfo a:hover{
  text-decoration: none;
}
.hrag_nav {
    margin-bottom: 20px;
}
.hrag_nav .nav-tabs > li {
    padding: 0 4px;
}
.hrag_nav .nav-tabs > li > a {
    background-color: #e5e5e5;border: 
    medium none;color: #1fba4a;
    display:block;
     overflow: hidden;padding: 11px 0
     ;text-align: center;text-overflow: 
     ellipsis;
     white-space: nowrap;
     width: 100%;
    }
.hrag_nav .nav-tabs > li.active > a, .hrag_nav .nav-tabs > li.active > a:hover, .hrag_nav .nav-tabs > li.active > a:focus {
    background-color: #1fba4a;
    border: medium none;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
}

.hrag_nav ul.crands {
    background-color: #f8f7f7;
    border-color: #c7c7c7;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0;
    overflow: hidden;
    padding: 0;
 }
 .hrag_nav ul {

    padding-inline-start: 0px;
}
.hrag_nav ul.crands li {
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 4px;
}
.hrag_nav ul.crands li a {
    background-color: #fff; 
    height: 66px;
    width: 66px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.hrag_nav ul.crands li a img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    margin: auto;top: 0;
    bottom: 0;right: 0;left: 0;
}
.hrag_nav ul.crands li a:hover {
    border: 1px solid #ccc;
}
.app-buttons img{
    border-radius: 15px;

}
.general-table {
    color:#000;
    border-bottom: 1px solid #afb4b4;
   margin: 0 auto;
   overflow: hidden;
   width: 100%;
}

.general-table a:hover{
    text-decoration: none;
}

.general-table thead {
    background-color: #0473c0;
    color: #ffffff;
    font-weight: bold;
    margin: 3px;
    position: relative;
}
.general-table thead tr td {
    text-align: center;
    line-height: 33px;
}
.general-table thead h2{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: inherit;
}

.general-table tr td.user {
    font-size: 11px;
    text-align: center;
    width: 140px;
}
.general-table tbody tr td a.ads-user {
    color: #756f6f;
    display: block;
    margin: 0 auto;
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.general-table tr td.map {
    font-size: 12px;
    text-align: center;
    width: 100px;
    font-weight: bold;
}
.general-table tr td.time {
    font-size: 11px;
    text-align: center;
    width: 92px;
}
.general-table tr td.name .number mark {
    background-color: rgba(4, 115, 192, 0.1);
    color: #000;
    float: right;
    text-align: center;
    margin-top: -12px;
    font-size: 13px;
    height: 40px;
    width: 50px;
    line-height: 30px;
}

.general-table .favourite {
    font-size: 16px;
    color: #ffd337 !important;


}
.general-table .favourite a {
    color: #ffd337 !important;
}
.general-table .info-table{
    margin-top: -10px;
}
.general-table .info-table img{
    width : 130px;
    height: 80px;
}
.general-table .fa-medal{
    color: rgb(155, 51, 51);
}
.general-table .DescTable a{
    color:green;
}
.general-table .DescTable .row-text{
    color:#000;
    font-size: 13px;
    overflow: hidden;
    height: 60px;
}
.general-table .place a{
    color: #000;
    font-size: 13px;
}
.general-table .contact-data b, a {
    font-size: 14px;
}
.general-table .fa-camera-retro{
    font-size: 16px;
}
.general-table .ads-user a{
    font-size: 13px;
    color: #000;
}
.general-table .special1 {
    box-shadow: 0px 1px 8px 0px #9b0303 inset;
}


footer {
	background:linear-gradient(to bottom,#ced7db,#d5d9dd,#f8f7f7);
    padding-top :40px;
    border-top: 6px solid #337ab7;
}

footer .cities {
	display: inline-block;
	text-decoration: none;
	color: #fff!important;
	font-size: 15px;
	font-weight: 900;
    background: #0473c0;
    padding:2px 12px;
    text-align: center;
    height: 30px;
    line-height: 20px;
    
}
footer .row ul li{
    color: #0473c0;
    padding-top: 6px;
    font-size: 10px;

}
footer .row ul li a{
    color: #0473c0;
    font-size: 13px;

}
footer .row ul li i{
 padding-left: 5px;

}
footer .row ul li a:hover{
    text-decoration: none;
}

footer .contact ul li a{
	font-size: 15px;
	color: #0473c0;
	display: inline-block;
	line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: -15px;
}
footer .connect-us ul li {
	display: inline-block;
	margin-right: 2px;
}

footer .connect-us ul li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	background-color: #0473c0;
	color: #373a3c;
	font-size: 16px;
    transition: all 0.3s;
    color: #fff;
}
.fa-google-plus-g{
    color: #7a0907;
  
}
.fa-rss{
    color:#ffd337;

}
footer .footerend{
    background: #d5d9dd;
    padding :15px 35px;
}
footer .footerend span{
    font-size: 15px;
    font-weight: 300;
    color: black;
}
/*about app page css*/
.aboutapp{
    color: black;
}
/* card above السعر*/ 
.section .row .card span {
    font-size: 14px;
    color: #555555;
    border: none;
    padding: 7px 15px;
    font-weight: bold;
}
.section .row .card .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    font-size: 12px;
}


.sm-table{
    display: none;
}

/*/* cars page pagination*/

.pagination{
    margin-right: 25%;

}

.pagination a {
    height:50px;
    width: 50px ;
  color: #3a7fe6;
  text-decoration: none;
  font-size:20px;
  border-radius: 20%;
  border: 1px solid #E8E9EC;
  text-align: center;
  line-height: 36px;


}

 .pagination a:hover{
  background-color: #3a7fe6;
  color: white;
}
.page-item.active .page-link {
  background-color: #3a7fe6;

}
/*/**/
.contact .row .form-inline input{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    border-radius: none;
    font-size: 14px;
    padding :5px 10px;
}
.contact .row .form-inline select{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    border-radius: none;
    font-size: 14px;
    padding :5px 10px;
}
.contact .row textarea{
    display: inline-block;
    width: 95.5%;
    vertical-align: middle;
    border-radius: none;
    font-size: 14px;
    padding :5px 10px;
    margin-left:15px;
    height: 120px;
    overflow: hidden;
}
.contact .row  button.btn-submit{
    width: 96%;
    margin-right:15px;
    background: #0473c0;
    color:#fff;
    font-size: 18px;
    border-radius: 0px;

}
.contact .row .contact-data {
    border-top: 5px solid #337ab7;
}


/*/*linkspage csss*/
.arrangePage .row .card .card-header{
    height:180px;
    background: #f7f2e7;
    color:#8a6d3b;
    font-weight: bold;

}
.arrangePage .row .card .card-header h2{
    color:#8a6d3b;
    font-size: 20px;
    font-weight:bold;
}
.arrangePage .row .card .card-header .float-left h3{
    color:red;
    font-size: 16px;


}
.arrangePage .row .card .card-header mark{
    background: #337ab7;
    color:#fff;
    font-size: 14px;


}
.arrangePage .row .card .card-header strong{
    color:#337ab7;
    font-size: 14px;
    font-weight:bold;
}

/*/*الروابط center*/
.form-row>.col, .form-row>[class*=col-] {
    display: flex;
    margin: 0 auto;

}

.arrangePage .row .card .card-body{
    background: #fff;
    height: auto;
}
.arrangePage .row .card .card-body .input-group-text,.arrangePage .row .card .card-body input{
    border-radius :0px;
    font-size: 14px;
}
.arrangePage .row .card .card-body input{
    border-radius :0px;
    height: 35px;
}
.arrangePage .row .card .card-body .info-card{
  color: #000;
  font-size: 25px;
}

/*/*slider in linkpage/**/


/*/* adss_ss in realstate css*/
.buttonShare a{
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 50px;

}
.buttonShare .badge-primary{
    background: #337ab7;
}
.commentSection label{
    color:black;
    font-size: 20px;
    font-weight: bold;
}
.commentSection .text-left button{
    border-radius: 0px;
    font-weight: bold;


}
.user_ads h3.cardUser{
    font-size: 15px;
    text-align: center;

}


.col-lg-4 .card .clearfix{
    font-size: 14px;
}
.col-lg-4 .requests a{
    border-radius: 0px;
    padding: 6px 53px;
    font-size: 16px;
}
.col-lg-4 .requests .btn-success,.col-lg-4 .requests .btn-danger,.col-lg-4 .requests .btn-info{
    font-size: 20px;
    width:100%;


}
.Uropinion-btns {margin-bottom: 20px;}
.Uropinion-btns > span {
    display: block;margin-bottom: 10px;width: 100%;
}
.btn-like, .btn-dislike {
    color: #fff;cursor: pointer;display: table;
    line-height: 37px;width: 100%;overflow: hidden;position: relative;
}
.btn-like i, .btn-dislike i {
    float: right;font-size: 23px;height: 39px;
    line-height: 39px;margin-left: 6px;text-align: center;width: 45px;
}
.btn-like span, .btn-dislike span {
    direction: ltr;
    display: -moz-box;
    float: left;
    font-size: 15px;
    height: 39px;
    margin-right: 10px;
    overflow: hidden;
    padding: 0 11px 0 8px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 54px;
}
.btn-like em, .btn-dislike em {
    border-radius: 50%;
    display: block;
    height: 22px;
    left: 44px;
    position: absolute;
    top: 9px;
    width: 17px;/* display: none; */
}
.btn-like {
    background-color: #1dcb66;
}
.btn-like i {
    background-color: #17b258;
}
.btn-like span {
    background-color: #17b258;
}
.btn-like em {
    background-color: #17b258;
}
.btn-dislike {
    background-color: #adadad;
}
.btn-dislike i {
    background-color: #717171;
}
.btn-dislike span {
    background-color: #717171;
}
.btn-dislike em {
    background-color: #717171;
}
.col-lg-4 .cardAds {
    background: #f8f7f7;
}
.col-lg-4 .cardAds h2{
    font-size: 16px;
    color: #337ab7;
    font-weight: bold;
}
.col-lg-4 .cardAds h4{
    font-size: 17px;
    background: #337ab7;
    font-weight: bold;
    color:#fff;
    width:80%;
    padding: 6px 12px;
    margin:0 auto;
}

.col-lg-4 .cardAds mark{
    padding: 3px 9px;
   font-weight: bold;
   margin-left: 5px;
   color: #fff;
   background: #337ab7;

}
.col-lg-4 .cardAds .dots{
    font-size: 17px;
    color: #565d64;
}
.app-buttons img {
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}
.user_ads img{
    display: flex;
    margin:0 auto;
    padding: 0 auto;
    width:200px;

}
.arrangePage{
    display: flex;
    margin:0 auto;

}
.user_ads h3{
    font-size:20px;
    font-weight: bold;


}
.origin {
    font-size:15px;
    font-weight: bold;


}
.card-img-top {
    width: 80%;
    display: flex;
    margin:0 auto;

}

